@using Umbraco.Cms.Core.Routing
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem>
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider IPublishedUrlProvider

@{
    var _Widget_ListOfBanner = (Widget_ListOfGoals_AboutUs)Model.Content;
}
@if (Model.Content.ContentType.Alias == "Widget_ItemsFromList")
{

    var list = Model.Content.Value("listPaths").ToListIntger2();
    if (list?.Count > 0)
    {
        foreach (var item in list)
        {
            var partialViewName = "/Views/" + item.ContentType.Alias.Replace("DT_", "") + ".cshtml";

            var layoutName = Model.Content.Value("layoutName").ToStringNull();
            if (!string.IsNullOrEmpty(layoutName))
            {
                partialViewName = "/Views/" + layoutName + ".cshtml";
            }

            try
            {
                @await Html.PartialAsync(partialViewName, Model)
            }
            catch (InvalidOperationException)
            {
                <p>
                    <strong>Could not render component of type: @(item.ContentType.Alias)</strong>
                    <br />
                    This likely happened because the partial view <em>@partialViewName</em> could not be found.
                </p>
            }
        }
    }
    else
    {
        @await Html.PartialAsync("_NoRecordsFull")
    }
}
