<?xml version="1.0" encoding="utf-8"?>
<Content Key="b18302ab-cb29-404a-9b73-a07d8bf30630" Alias="نبذة عن الهيئة" Level="3">
  <Info>
    <Parent Key="13cc693e-426a-4b45-843b-330b8223cf6f">عن الهيئة</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_PageContent</ContentType>
    <CreateDate>2025-04-18T19:54:29</CreateDate>
    <NodeName Default="نبذة عن الهيئة">
      <Name Culture="ar">نبذة عن الهيئة</Name>
      <Name Culture="en-us">نبذة عن الهيئة</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="544a3a9b-8d32-4eba-901e-bcd48670cd55">DT_PageContent</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </Canonical>
    <childrens>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </childrens>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <excludedDocumentTypes>
      <Value><![CDATA[]]></Value>
    </excludedDocumentTypes>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </OGURL>
    <pageBlockGridDetails>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3a5519738131419e8369e23b5b926bca"
      }
    ],
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/25d568b786074f98bae79e1cace4f996",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9b53cc24-ce23-4df5-a968-72e69aa3c4ba",
      "udi": "umb://element/25d568b786074f98bae79e1cace4f996",
      "title": "دور الهيئة",
      "details": {
        "markup": "<div class=\"col-md-12\">\n<div class=\"textSec\">\n<p class=\"p16\">تعمل الهيئة العامة للتجارة الخارجية على تعزيز وتمكين التجارة الخارجية للمملكة من خلال الأهداف الاستراتيجية التالية</p>\n</div>\n</div>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "goals": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/105293bee6274baeace1684315a0a982"
            },
            {
              "contentUdi": "umb://element/0ac495baf7aa4ee0b58e9c6f335a96b9"
            },
            {
              "contentUdi": "umb://element/83155387aaac4414b6d599e0c810e1c3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "e6859e8b-c070-4477-a873-1770fc012f5f",
            "udi": "umb://element/105293bee6274baeace1684315a0a982",
            "icon": [
              {
                "key": "e0f59cf9-19a7-4186-bd44-53f37f4ba83e",
                "mediaKey": "dcaa56ef-216a-450c-a13a-54c4e0a28810"
              }
            ],
            "title": "فتح الأسواق للتجارة",
            "details": "توسيع نطاق وصول السلع والخدمات السعودية إلى الأسواق الخارجية، عبر تعميق العلاقات مع الشركاء التجاريين الحاليين، والانفتاح على أسواق جديدة.",
            "hide": "0",
            "showInHome": "1"
          },
          {
            "contentTypeKey": "e6859e8b-c070-4477-a873-1770fc012f5f",
            "udi": "umb://element/0ac495baf7aa4ee0b58e9c6f335a96b9",
            "icon": [
              {
                "key": "f7ab9fe7-cce1-4871-9dd1-5445ed0bdc1e",
                "mediaKey": "75bf7ac9-8d03-45e3-990c-e115a03b54b5"
              }
            ],
            "title": "تمكين القطاعات المحلية",
            "details": "دعم نمو القطاعات الاستراتيجية وتعزيز المحتوى المحلي لتطوير ميزة تنافسية مستدامة بالاستفادة الفاعلة من السياسات والأنظمة التجارية.\n\n",
            "hide": "0",
            "showInHome": "1"
          },
          {
            "contentTypeKey": "e6859e8b-c070-4477-a873-1770fc012f5f",
            "udi": "umb://element/83155387aaac4414b6d599e0c810e1c3",
            "icon": [
              {
                "key": "322acb9a-d716-41b0-82fe-dbd33e6a1afb",
                "mediaKey": "a4210d83-07bb-4bce-93e7-f8c9fd9ba1ac"
              }
            ],
            "title": "تعزيز القدرات التمكينية التجارية",
            "details": "تطوير القدرات في منظومة التجارة الخارجية (القطاعين الحكومي والخاص)، والاستفادة من مكانة المملكة​ في المنتديات العالمية والتحضير لتمثيل صوت المصدِّر السعودي.\n\n",
            "hide": "0",
            "showInHome": "1"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBlockGridDetails>
    <pageContentDetails>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageContentDetails>
    <pageTitle2>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle2>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide77>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoNaviHide77>
  </Properties>
</Content>