<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e6ba0a68-5728-49db-96ac-8bce1c985bcc" Alias="DT_FormContactUs" Level="2">
  <Info>
    <Name>Form Contact us</Name>
    <Icon>icon-umb-contour color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Widgets+Forms</Folder>
    <Compositions>
      <Composition Key="2531df67-da8e-43f6-885f-5121f357e959">pageProperties</Composition>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">pageSEO</Composition>
    </Compositions>
    <DefaultTemplate>Layout_PageRedirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3a822f72-b1ea-43b4-884b-0a9704fce253">Layout_PageRedirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9318787d-7cc6-42cc-aa7b-a7b375d560f6" SortOrder="0">DT_FormContactUsItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>